<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VPL - $title$</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <h1><a href="/">Visual Programming Languages</a></h1>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main">
            <h2>$title$</h2>
            $body$
        </main>

        <footer>
            Copyright 2024 Chris Mountford
        </footer>
    </body>
</html>
